<!DOCTYPE html>
<html lang="zh-CN" xmlns:th="http://www.w3.org/1999/xhtml">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>修改</title>
    <head th:replace="include/template::bootstrap"></head>
    <head th:replace="include/template::editormd"></head>
    <style>
        #title {
            width: 100%;
            height: 60px;
            background: #31374e;
        }
        #title-text {
            width: 300px;
            font-size: 30px;
            line-height: 60px;
            color: wheat;
            position: relative;
            letf: 50% - 300px;
        }
        #main-div {
            width: 1200px;
            position: absolute;
            left: calc(50% - 600px);
        }
        div.panel {
            width: 1200px;
            margin-top: 30px;
            box-shadow: 0 5px 20px rgba(0, 0, 0, 0.1);
        }
        div.panel div.panel-heading {
            background: #31374e;
        }
        div.row {
            margin-bottom: 5px;
        }
    </style>
</head>
<body>
<div id="title">
    <span id="title-text">&nbsp;后台管理系统</span>
</div>
<div id="main-div">
    <form action="/updateArticle">
        <div class="panel">
            <div class="panel-heading"><span style="color: wheat">日志设置</span></div>
            <div class="panel-body">
                <div class="row">
                    <div class="col-xs-1">标题:</div>
                    <div class="col-xs-6">
                        <input type="text" class="form-control" name="title" th:value="${article.title}">
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-1">简介:</div>
                    <div class="col-xs-6">
                        <textarea class="form-control" name="desc_text" th:text="${article.desc_text}"></textarea>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-1">分类:</div>
                    <div class="col-xs-4">
                        <div class="form-group">
                            <select class="form-control" name="category" style="width: 250px">
                                <span th:each="category :${categories}">
                                    <option th:text="${category.name}" th:value="${category.id}" th:selected="${category.id==article.category}?selected"></option>
                                </span>
                            </select>
                            <button type="button" class="btn" data-toggle="modal" data-target="#myModal" style="float:right;position:relative;top:-34px">
                                新增分类
                            </button>
                            <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
                                <div class="modal-dialog" role="document">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                            <h4 class="modal-title" id="myModalLabel">新增分类</h4>
                                        </div>
                                        <div class="modal-body">
                                            <input class="form-control" type="text" aria-label="分类名称" id="categoryName">
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                                            <button type="button" class="btn btn-primary" onclick="addCategory();">保存分类</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-1">设置</div>
                    <div class="col-xs-2">
                        <div class="checkbox">
                            <label><input type="checkbox" name="is_draft" value="true" th:checked="${article.is_draft}?checked"}>作为草稿保存</label>
                            <label><input type="checkbox" name="is_public" value="true" th:checked="${article.is_public}?checked"}>公开</label>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="panel">
            <div class="panel-heading"><span style="color: wheat">正文</span></div>
            <div class="panel-body">
                <div class="editormd" id="test-editormd" style="z-index: 1">
                    <textarea class="editormd-markdown-textarea" name="test-editormd-markdown-doc" th:text="${article.content_md}"></textarea>
                    <!-- 第二个隐藏文本域，用来构造生成的HTML代码，方便表单POST提交，这里的name可以任意取，后台接受时以这个name键为准 -->
                    <textarea class="editormd-html-textarea" name="content_html"></textarea>
                </div>
            </div>
        </div>
        <div class="panel">
            <div class="panel-heading"><span style="color: wheat">保存</span></div>
            <div class="panel-body" style="text-align: right">
                <input type="text" hidden="hidden" name="id" th:value="${article.id}">
                <input type="submit"class="btn btn-info" value="修改完成">
            </div>
        </div>
    </form>
</div>
</body>
<script>
    $(function() {
        editormd("test-editormd", {
            width   : "90%",
            height  : 640,
            syncScrolling : "single",
            //你的lib目录的路径，我这边用JSP做测试的
            path    : "/webjars/editor.md/lib/",
            theme : "dark",
            previewTheme : "dark",
            editorTheme : "pastel-on-dark",
            //这个配置在simple.html中并没有，但是为了能够提交表单，使用这个配置可以让构造出来的HTML代码直接在第二个隐藏的textarea域中，方便post提交表单。
            // imageUpload : true,
            // imageFormats : ["jpg", "jpeg", "gif", "png", "bmp", "webp"],
            // imageUploadURL : "/uploadFile",
            saveHTMLToTextarea : true,
        });
    });

    function addCategory() {
        var url = "/addCategory"
        $.ajax({
            url: url,
            data:{"name":$('#categoryName').val()},
            success: function(result){
                if (result == 1) {
                    location.reload();
                }
            }
        })
    }
</script>
</html>